---
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* font */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
	font-family: 'Lora', sans-serif;
}
h1, h2, h3, h4, h5, h6, .masthead__inner-wrap, .sidebar p, .sidebar .author__name, .archive__item-title {
	font-family: 'Lora', sans-serif;
}

/* page width */
@media (min-width: 80em) {
	.page {
		width: calc(100% - 250px);
		padding-right: 250px;
	}
	.sidebar {
		width: calc(250px - 1em);
	}
}

blockquote {
	background-color: rgba(0, 0, 0, .05);
	padding: .75em 1em;
	font-style: inherit;
	p:last-child {
		margin-bottom: 0;
	}
}

.mailchimp-signup {
	form {
		padding: 0;
	}
	input {
		max-width: 300px;
	}
}

.meme {
	width: 70%;
	margin: 0 auto 3em auto;
	display: block;
	box-shadow: 5px 5px 10px gray;
}
