---
---

@import "minima";

@import "comment-styles";

.post-list p, .post-content p {
	font-size: 18px;
}

.site-footer .mailchimp-signup #mc_embed_signup {
	form {
		padding: 0 0 0 15px;
		border-left: 1px solid silver;
		background-color: #fdfdfd;
	}
	label {
		font-weight: normal;
	}
}
