---
---

@import "minima";

@import "comment-styles";

.post-list, .post-content {
	h1 a.post-link {
		font-size: 36px;
		text-decoration: none;
	}
	p, ul, ol {
		font-size: 18px;
	}
	blockquote {
		p {
			color: #535353;
		}
		&.short-quote p {
			font-size: 22px;
		}
		footer::before {
			content: '—';
		}
	}
	a {
		text-decoration: underline;
	}
	.comments-link {
		display: block;
	}
}

.site-footer .mailchimp-signup #mc_embed_signup {
	form {
		padding: 0 0 0 15px;
		border-left: 1px solid silver;
		background-color: #fdfdfd;
	}
	label {
		font-weight: normal;
	}
}

.meme {
	width: 70%;
	margin: 0 auto 3em auto;
	display: block;
	box-shadow: 5px 5px 10px gray;
}
